.jumbotron
  %h1
    .glyphicon.glyphicon-chevron-left
    .glyphicon.glyphicon-shopping-cart
    .glyphicon.glyphicon-chevron-right

  %h1 Caddiie




.row{style: "text-align:center;"}
  .col-md-12
    %a{href: "/cats/index"}
      %button.btn.btn-primary.btn-lg.btn-idx.pull-left{type: "button"}
        .glyphicon.glyphicon-eye-open
        %br
        Parcourir les annonces
    %a{href: "/posts/new"}
      %button.btn.btn-primary.btn-lg.btn-idx{type: "button"}
        .glyphicon.glyphicon-edit
        %br
        Déposer une annonce
    %button.btn.btn-primary.btn-lg.btn-idx.pull-right{type: "button"}
      .glyphicon.glyphicon-search
      %form{action: "/page/search", method: "get"}
        %input.form-control{id: "q", name: "q", placeholder: "Rechercher une annonce particulière", type: "text"}




%script $('#l1').attr('class','active')
