.jumbotron
  %h1
    .glyphicon.glyphicon-chevron-left
    .glyphicon.glyphicon-shopping-cart
    .glyphicon.glyphicon-chevron-right

  %h1 Caddiie




.row{style: "text-align:center;"}

  %button.btn.btn-primary.btn-lg.btn-idx{type: "button"}
    / %a.btn.btn-default{href: "#"}
    .glyphicon.glyphicon-eye-open
    %div
      %a{href: "/cats/index"} Parcourir les annonces
  %button.btn.btn-primary.btn-lg.btn-idx{type: "button"}      
    / %a.btn.btn-default{href: "#"}
    .glyphicon.glyphicon-edit 
    %div
      %a{href: "/posts/new"} Déposer une annonce  
  %button.btn.btn-primary.btn-lg.btn-idx{type: "button"}    
    / %a.btn.btn-default{href: "#"}
    .glyphicon.glyphicon-search
    %form{action: "/page/search", method: "get"}
      %input.form-control{id: "q", name: "q", placeholder: "Rechercher un article particulier", type: "text"}


%script $('#l1').attr('class','active')

:css
  .btn-idx {
    height: 100px;
    width: 300px;
  }
