%h1 Listing posts

- @posts.each do |p|
  %h3
    = link_to p.title, "/posts/#{p.id}"
    |
    = p.price
    €
    |
    = link_to 'Destroy', post_path(p), method: :delete, data: { confirm: 'Are you sure?' }

%script $('#l2').attr('class','active')
