/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.btn-idx {
  height: 100px;
  width: 300px;
}
.btn-idx a {
  color: #ffffff;
}
.mid {
    float:none;
    display:inline-block;
    vertical-align:middle;
    color: #ffffff;
}
.no-padding {
  padding:0px;
}
// @import url("http://bootswatch.com/flatly/bootstrap.css");
@import url("http://bootswatch.com/amelia/bootstrap.css");
// @import "bootstrap";
