- if current_user.try(:admin?)

  .row
    .col-md-12
      .page-header
        %h1 Admin panel

  .row
    .col-md-12
      .col-md-12
        %a{href: "/cats/new"}
          %button.btn.btn-primary{type: "button"} Nouvelle catégorie

  %br

  .row
    .col-md-12
      .col-md-6
        .well
          %h3 Signalements
          - @reports.each do |r|
            %p
              = r.text
              = link_to 'Supprimer', report_path(r), method: :delete, data: { confirm: 'Are you sure?' }

          %script $('#l4').attr('class','active')
      .col-md-6
        .well
          %h3 Utilisateurs non-validés
          - @users.each do |u|
            - if u.val === false
              %p
                = link_to u.email, "/profil/#{u.id}"

- else
  Accès refusé
